* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}


/* Homepage - my-portfolio */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.356);
}

.logo {
    height: 80px;
    width: 100px;
}

.nav {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
}

.a-nav:hover{
    color: rgb(240, 93, 117);
}

main {
    background: url(/img/lum3n--RBuQ2PK_L8-unsplash.jpg);
    width: 100vw;
    height: 82vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.welcome {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.intro {
    width: 40vw;
    text-align: center;
    margin-top: 1rem;
}

h1 {
    font-family: "Indie Flower", cursive;
    font-size: 50px;
    gap: 20px;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

button {
    margin-top: 3rem;
    padding: 0.5rem;
}

button a {
    text-decoration: none;
    color: black;
}

.btn1 {
    background-color: bisque;
    margin-right: 1rem;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.473);
    opacity: 1;
    transition: transform 0.3s ease;
}

.btn1:hover {
    transform: scale(1.1);
}

.btn2 {
    background-color: bisque;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.473);
    transition: transform 0.3s ease;
}

.btn2:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-top: 0.5px solid rgba(0, 0, 0, 0.356);
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

i {
    color: black;
}

@media screen and (max-width: 1035px) {

    .intro {
        width: 80vw;
        text-align: center;
        margin-top: 3rem;
    }
    
}



/* About me */ 


.container {
    background: url(/img/patrick-perkins-ETRPjvb0KM0-unsplash.jpg);
    width: 100vw;
    height: 82vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.pic {
    width: 220px;
    border-radius: 20%;
    box-shadow: 4px 4px 8px black;
    opacity: 1;  
}

.h2 {
    padding-top: 1rem;
    font-family: "Indie Flower", cursive;
    font-size: 50px;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
}


.about-me, .education, .work, .hobbies {
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 4px 4px 8px black;
    opacity: 1;
    font-weight: 300;
}


.education {
    width: 100vw;
    height: 18vw;
}

.about-me {
    width: 100vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edu1 {
    margin-bottom: 2rem;
}

.container-2 p {
    margin: 1rem;
}



ul {
    display: flex;
}

@media screen and (max-width: 768px) {

    .about-me img{
      display: none;
    }

    .des {
        width: 100vw;
    }

    .about-me {
        margin-bottom: 5rem;
        margin-right: 5rem;
    }
    
}

/*my projects*/

.projects {
    background: url(/img/bench-accounting-nvzvOPQW0gc-unsplash.jpg);
    width: 100vw;
    height: 82vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.projects h2 {
    font-family: "Indie Flower", cursive;
    font-size: 50px;
    gap: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
}

/*first project*/ 
.info1 {
    position: absolute;
    top: 30%;
    left: 20%;
    cursor: pointer;
    background: url(./img/project-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 40px black;
    width: 60vw;
    min-height: 60vh;
    padding: 10px;
    clip-path: circle(20px at 30px 30px);
    transition: all 0.5s linear;
    z-index: 1000;
    animation: swing linear 3s infinite;
}

.h3-1, .p-1 {
    width: 20vw;
    margin-left: 67%;
}


.info1:hover {
    clip-path: circle(100% at 500px 100px);
    animation: none;
}

.info-icon1 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    background: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    
}



/*project-2*/


.info2 {
    position: absolute;
    top: 20%;
    left: 30%;
    cursor: pointer;
    background: url(./img/project-2.1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 40px black;
    color: white;
    width: 60vw;
    min-height: 60vh;
    padding: 10px;
    clip-path: circle(20px at 30px 30px);
    transition: all 0.5s linear;
    z-index: 2000;
    animation: swing linear 3s infinite;
}

.info2:hover {
    clip-path: circle(100% at 500px 100px);
    animation: none;
}

.info-icon2 {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    background: black;
    color: white;
    border-radius: 50%;
}



.h3-2, .p-2 {
    width: 20vw;
    margin-left: 67%;
}




/*project-3*/

.info3 {
    position: absolute;
    cursor: pointer;
    left: 10%;
    bottom: 20%;
    background: url(./img/project-2.2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 40px black;
    width: 60vw;
    height: 60vh;
    padding: 10px;
    clip-path: circle(20px at calc(100% - 35px) 28px);
    transition: all 0.5s linear;
    animation: swing linear 3s infinite;
}

.info3:hover {
    clip-path: circle(100% at 500px 100px);
    animation: none;
    z-index: 2000;
}

.info-icon3 {
    position: absolute; 
    left: 95%; 
    top: 1.3%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: black;
    color: white;
    border-radius: 50%;
}

/*project-4*/

.info4 {
    position: absolute;
    left: 20%;
    top: 30%;
    cursor: pointer;
    background: url(./img/project-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 40px black;
    color: black;
    width: 60vw;
    height: 60vh;
    padding: 10px;
     clip-path: circle(20px at calc(100% - 35px) 28px);
    transition: all 0.5s linear;
    z-index: 500;
    animation: swing linear 3s infinite;
}

.info4:hover {
    clip-path: circle(100% at 500px 100px);
    z-index: 2000;
}

.info-icon4 {
    position: absolute; 
    left: 95%; 
    top: 1.2%;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    background: black;
    color: white;
    border-radius: 50%;
}

.h3-4 , .p-4 {
    margin-left: 67%;  
}

.h3-4 {
    margin-top: 15%;
}



.project-pics {
   visibility: hidden;
}

.project-pics img {
    width: 25vw; 
    animation: scaleUp 0.5s infinite; 
    animation-duration: 0.3s;
}

/*responsive feature*/


.pr1{
    position: relative;
    margin-top: 20%;
    margin-left: 8%;
}

.pr2 {
    position: relative;
    margin-top: -35%;
    margin-left: 8%; 
}


.pr3 {
    position: absolute;
    margin-top: -12%;
    margin-left: 66%;
}

.pr4 {
    position: relative;
    margin-top: 9%;
    margin-left: 66%;
}


.pr1 img:hover {
  transform: scale(2);
  transition: opacity 0.5s, transform 0.5s;
  transform-origin: left center;
  z-index: 1000;
  box-shadow: 3px 3px 40px black;
}

.pr2 img:hover {
    transform: scale(2);
    transition: opacity 0.5s, transform 0.5s;
    transform-origin: left center;
    z-index: 1000;
    box-shadow: 3px 3px 40px black;
  }

.pr3 img:hover {
    transform: scale(2);
    transition: opacity 0.5s, transform 0.5s;
    transform-origin: right center;
    z-index: 1000;
    box-shadow: 3px 3px 40px black;
}

.pr4 img:hover {
    transform: scale(2);
    transition: opacity 0.5s, transform 0.5s;
    transform-origin: right center;
    z-index: 1000;
    box-shadow: 3px 3px 40px black;
}


@media screen and (max-width: 1200px) {
    
.projects div{
        visibility: hidden;
    }

.project-pics img {
    visibility: visible;
}

}


@media screen and (max-width: 760px) {
  
    .project-pics {
        margin-top: 40%;
    }
    
}


/* Skills */ 

.skills {
    background: url(/img/jess-bailey-l3N9Q27zULw-unsplash.jpg);
    width: 100vw;
    height: 82vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.skill-container {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skills h2 {
    padding-top: 1rem;
    font-family: "Indie Flower", cursive;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

h4 {
    padding-left: 20px;
}


.table {
    width: 20rem;
    height: 5rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.432);
}

.level {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
}


.skill-container{
background-color: rgba(255, 255, 255, 0.397);
border: 1px solid black;
padding: 2rem;
}


.table div {
    width: 20px;
    height: 20px;
    background-color: rgba(241, 155, 97, 0.404);
    border-radius: 50%;
    border: 1px solid black;
}

h3 {
    font-size: larger;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Indie Flower", cursive;
    font-size: 1.8rem;
}




/* Contact */

.contact {
    background: url(/img/damian-zaleski-RYyr-k3Ysqg-unsplash.jpg);
    width: 100vw;
    height: 82vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}

.contact {
    position: relative;
}

.form {
    background-color: rgba(255, 255, 255, 0.445);
    padding: 2rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    width: 30%;
}

.fields {
    margin: 1rem 0;
    display: inline-block;
    width: 100%;
}

.second {
    margin: 16px 0;
}

input,
textarea {
    margin: 0.5rem 0;
    padding: 0.3rem;
    outline: 1px solid black;
    width: 100%;
    font-size: 1rem;
}


input[type="text"]:focus {
    outline: 1px solid black;
}

input[type="email"]:focus,
textarea:focus {
    outline: 1px solid black;
}


input[type="submit"] {
    background-color: white;
    margin-top: 1rem;
    width: 10rem;
    outline: 1px solid grey;
}

.submit:hover {
    background-color: black;
    color: white;
}

.social-network {
    position: relative;
    width: 30%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 50%;
    gap: 30px;
    margin-left: 67%;
    top: 30%;
}




      
@media screen and (max-width: 1132px) {
      
    .form {
        width: 70vw;
    }

    .social-network {
        visibility: hidden;
    }
    
}  
